#selectHaut {
    border: 1px solid green;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#selectHaut a {
    text-decoration: none;
    color: $bleuStarWars;
    font-size: 2em;
}

#selectCentre {
    border: 1px solid orange;
    height: 50%;
    display: flex;
    
}

#selectGauche {
    border: 1px solid blue;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selectGauche a {
    text-decoration: none;
    color: $jauneStarWars;
    font-size: 2em;
}



#photoChange {
    border: 1px solid crimson;
    width: 40%;
    display: flex;
    justify-content: center;
    position:relative;
    overflow: hidden;
}

#imageSprite {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    
}

// #photoChange img {
//     // height:90%;
//     // width: 100%;
// }




#selectDroite {
    border: 1px solid goldenrod;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selectDroite a {
    text-decoration: none;
    color: $jauneStarWars;
    font-size: 2em;
}





#selectBas {
    border: 1px solid violet;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    
#selectBas a {
    text-decoration: none;
    color: $bleuStarWars;
    font-size: 2em;
}
        