
@font-face {
    font-family: 'Star Jedi Rounded', sans-serif;
    src: url('../fonts/star-jedi/Star_Jedi_Rounded.ttf')  format('truetype');
}

@font-face {
    font-family: 'Star Jedi', sans-serif;
    src: url('../fonts/star-jedi/Starjedi.ttf') format('truetype');
}

@font-face {
    font-family: 'Star Jedi Hollow', sans-serif;
    src: url('../fonts/star-jedi/Starjhol.ttf') format("truetype");
}

// @import url('http://fonts.cdnfonts.com/css/star-jedi-rounded');


