@font-face {
    font-family: "starJedi-DGRW";
    src: url("../fonts/fonts\star-jedi\StarJedi-DGRW.ttf") format("ttf"),          
}

@font-face {
    font-family: "starJedi-Hollow";
    src: url("../fonts/fonts\star-jedi\StarJediHollow-A4lL.ttf") format("ttf"),     
}

@font-face {
    font-family: "starJedi-Rounded";
    src: url("../fonts/fonts\star-jedi\StarJediRounded-jW3R.ttf") format("ttf"),     
}
