$background-mainPage: rgb(27, 26, 26);
$jauneStarWars : rgb(255,232,31);
$bleuStarWars: rgb(36, 149, 143);
$policeJedi: deathStar;
$policeStarJedi: starJedi;
$policeSansSerif: Arial, Helvetica, sans-serif;
