#filAriane {
  height: 5vh;
  border: 1px solid $jauneStarWars;
  font-family: $policeStarJedi;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8em;
  padding-top: -20px;
  padding-bottom: -20px;
}

#filAriane a {
  text-decoration: none;
  color: $jauneStarWars;
}
#filAriane div:hover {
  transform: scale(1.2);
  border-radius: 8px 8px;
}
#filAriane > div:nth-child(1) > a {
  color: $bleuStarWars;
}

.itemMenu {
  display: flex;
  flex-direction: column;
}

.dash2 {
  height: 2px;
  width: 100%;
}

.itemMenu:hover .dash {
  background-color: $bleuStarWars;
  box-shadow: 0px 20px 30px 17px rgba(36, 149, 143, 0.71);
}

#commandesJeu {
  height: 4em;
  width: 100%;
  border: 1px solid $jauneStarWars;
  font-family: $policeStarJedi;
  display: flex;
  justify-content: space-around;
}

#mouvements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  font-family: $policeStarJedi;
  color: $jauneStarWars;
}

#jeu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 30%;
  font-family: $policeStarJedi;
  color: $jauneStarWars;
}

#start {
  color: $bleuStarWars;
}
#start :hover {
  cursor: pointer;
}

#jeu > div:nth-child(1) {
  margin-left: 2rem;
  font-size: 1.4em;
}

#jeu > div:nth-child(2) {
  margin-left: 2.5em;
}

#jeu > div:nth-child(3) {
  margin-right: 6em;
}

#page {
  position: relative;
}

#competences {
  border: 1px solid $jauneStarWars;
  width: 350px;
  min-height: 100%;
  position: relative;
}

#zoneJeu {
  background-image: url(../images/STARWARS-SNOKE-STAR-DESTROYER.jpg);
  background-position-x: center;
  background-position-y: -20px;
  background-origin: padding-box;
  height: 100%;
  width: 100%;
}

.fleche {
  font-size: 1.6em;
  font-weight: 800;
}

#mouvements > div:nth-child(3) > p {
  padding-top: 5px;
}
