@font-face {
  font-family: "deathStar";
  src: url("DeathStar.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "starJedi";
  src: url("Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #1b1a1a;
  margin: 0;
  scroll-behavior: smooth;
  font-family: deathStar, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pageAccueil {
  border: 1px solid #ffe81f;
  height: 95vh;
  margin: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: url("../images/fondEtoile.png") repeat fixed 50% 50%;
  width: 95%;
}

.page {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.leftAnimation {
  border-top: 1px solid #ffe81f;
  border-right: 1px solid #ffe81f;
  height: 100%;
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
}

.zoneAnimation {
  position: absolute;
  display: flex;
  justify-content: center;
}

.droiteSelection {
  border-top: 1px solid #ffe81f;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.bandeau {
  display: flex;
  font-size: 3em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  align-items: center;
  font-family: starJedi, sans-serif;
  height: 4em;
  color: #ffe81f;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.characSpecial {
  display: inline-block;
  margin-top: -1em;
  color: #24958f;
}

.nomDeroulant {
  font-size: 3em;
  white-space: nowrap;
  animation: defileGauche 180s infinite linear;
}

@keyframes defileGauche {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
#zoneAnimation {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  perspective: 800px;
  perspective-origin: bottom;
  transform-style: preserve-3d;
  font-size: 4vw;
  line-height: 1.3;
  overflow: hidden;
}

.cache {
  opacity: 0;
}

#phraseIntro {
  opacity: 0;
  color: #24958f;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  position: absolute;
  top: 35%;
  margin-left: 2rem;
  font-size: 2.5rem;
  animation: fadeInandOut 6s ease-out;
}

@keyframes fadeInandOut {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.2;
  }
  9% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.8;
  }
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.6;
  }
  97% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
.javaLogo {
  transform: scale(0.8);
  position: absolute;
  top: 30%;
  opacity: 0;
  align-self: center;
  font-family: starJedi, sans-serif;
  animation: javaLogo 10s ease-out;
  animation-delay: 6100ms;
}

@keyframes javaLogo {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-8.75em);
  }
  20% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: sscale(0.1) translateZ(-100em);
  }
}
#corpsAnim {
  box-sizing: border-box;
  color: #b8a716;
  overflow: hidden;
}

#masqueTexteDefilant {
  margin: 0 auto;
  perspective: 380px;
  perspective-origin: bottom;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  left: 8%;
  overflow: visible;
  transform: scaleY(0.9);
}

#texteDefilant {
  position: absolute;
  top: 0;
  right: 13%;
  left: 13%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  animation: texteDefilant 24s linear;
  animation-delay: 15000ms;
}

#titreTexteAnim {
  margin-bottom: 5rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

p {
  padding: 0.9rem 0;
}

.raye {
  text-decoration: line-through;
}

@keyframes texteDefilant {
  0% {
    transform: rotateX(21deg) translade3d(0, 100rem, 0);
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: rotateX(21deg) translate3d(0, -350rem, 0);
    opacity: 0;
  }
}
#imagePersistante {
  position: absolute;
  top: 32%;
  align-self: center;
  font-family: starJedi;
}

.visible {
  opacity: 1;
}

.musiqueIntro {
  height: 50px;
  width: 200px;
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #24958f;
  font-size: small;
}

.generique {
  color: #ffe81f;
  width: 100px;
  height: 20px;
}

#selectHaut {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#selectHaut a {
  text-decoration: none;
  color: #24958f;
  font-size: 2em;
}

#selectCentre {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-basis: auto;
}

#selectGauche {
  height: 321px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  position: relative;
  align-self: center;
}

#selectGauche a {
  text-decoration: none;
  color: #ffe81f;
  font-size: 2em;
}

#zoneHautGauche,
#zoneHautDroite,
#zoneBasGauche,
#zoneBasDroite {
  height: 100%;
  width: 33%;
  flex-grow: 2;
}

#zoneHautCentre,
#zoneBasCentre {
  height: 100%;
  width: 341px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

#zoneHautCentre a,
#zoneBasCentre a {
  display: inline-block;
  text-align: center;
  align-self: center;
  flex-wrap: nowrap;
  overflow: visible;
}

.dashBords {
  height: 2px;
  width: 60%;
}

.dash {
  height: 2px;
  width: 100%;
}

.selecteurHover:hover .dash {
  background-color: #24958f;
  box-shadow: 0px 20px 30px 17px rgba(36, 149, 143, 0.71);
}

.selecteurHover:hover .dashBords {
  background-color: #24958f;
  box-shadow: 0px 20px 30px 17px rgba(36, 149, 143, 0.71);
}

#photoChange {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 321px;
  min-width: 241px;
  border-radius: 48% 48%;
}

#imageSprite {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/spriteBen.png);
  background-size: scale(0.4);
  margin-left: -1px;
  margin-top: -325px;
}

#selectDroite {
  height: 321px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  position: relative;
  align-self: center;
}

#selectDroite a {
  text-decoration: none;
  color: #ffe81f;
  font-size: 2em;
}

#selectBas {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selectBas a {
  text-decoration: none;
  color: #24958f;
  font-size: 2em;
}

#pageJeu {
  width: 95%;
}

#filAriane {
  height: 5vh;
  border: 1px solid #ffe81f;
  font-family: starJedi;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8em;
  padding-top: -20px;
  padding-bottom: -20px;
}

#filAriane a {
  text-decoration: none;
  color: #ffe81f;
}

#filAriane div:hover {
  transform: scale(1.2);
  border-radius: 8px 8px;
}

#filAriane > div:nth-child(1) > a {
  color: #24958f;
}

.itemMenu {
  display: flex;
  flex-direction: column;
}

.dash2 {
  height: 2px;
  width: 100%;
}

.itemMenu:hover .dash {
  background-color: #24958f;
  box-shadow: 0px 20px 30px 17px rgba(36, 149, 143, 0.71);
}

#commandesJeu {
  height: 4em;
  width: 100%;
  border-bottom: 1px solid #ffe81f;
  font-family: starJedi;
  display: flex;
  justify-content: space-around;
}

#mouvements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  font-family: starJedi;
  color: #ffe81f;
}

#jeu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 30%;
  font-family: starJedi;
  color: #ffe81f;
}

#start {
  color: #24958f;
}

#start :hover {
  cursor: pointer;
}

#jeu > div:nth-child(1) {
  margin-left: 2rem;
  font-size: 1.4em;
}

#jeu > div:nth-child(2) {
  margin-left: 2.5em;
}

#jeu > div:nth-child(3) {
  margin-right: 6em;
}

#page {
  position: relative;
}

#competences {
  border-right: 1px solid #ffe81f;
  width: 350px;
  min-height: 100%;
  position: relative;
}

#zoneJeu {
  background-image: url(../images/STARWARS-SNOKE-STAR-DESTROYER.jpg);
  background-position-x: center;
  background-position-y: -20px;
  background-origin: padding-box;
  height: 100%;
  width: 100%;
}

.fleche {
  font-size: 1.6em;
  font-weight: 800;
}

#mouvements > div:nth-child(2) > p {
  padding-top: 5px;
}

#pointsVie {
  height: 50px;
  width: 200px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: starJedi;
  color: #ffe81f;
}

#retry {
  height: 70px;
  width: 300px;
  position: absolute;
  top: 40%;
  left: 40%;
  font-family: starJedi;
  font-size: 1.5em;
  color: #24958f;
  visibility: hidden;
}

#retry:hover {
  cursor: pointer;
}

#competences {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#photocible {
  transform: scale(0.8);
  border-radius: 15px 15px;
  height: 180px;
}

#formation,
#bulletPoints,
#XP,
#langue {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffe81f;
}

#formation ul,
#bulletPoints ul,
#XP ul,
#langue ul {
  list-style-type: none;
  padding-left: 5px;
}

#formation p,
#bulletPoints p,
#XP p,
#langue p {
  font-family: starJedi;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: -8px;
}

.niveau {
  margin-left: 20px;
}

.flou {
  filter: blur(1.5rem);
}

.bleu {
  color: #24958f;
}

#decor {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ffe81f;
  font-family: starJedi;
  font-size: 1.5em;
}

#gameArea {
  width: 100%;
  height: 40%;
  position: relative;
  border-top: 1px solid #ffe81f;
}

#masqueLuke {
  height: 68px;
  overflow: hidden;
  position: absolute;
  width: 35px;
  top: 40%;
  visibility: hidden;
}

#Luke {
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;
}

#masqueAngular {
  height: 35px;
  width: 120px;
  position: absolute;
  top: 45%;
  right: 50px;
  visibility: hidden;
}

#darkAngular {
  height: 35px;
  width: 120px;
}

#gagne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hyperspace {
  height: 400px;
  width: 800px;
  margin: auto;
  border-radius: 45% 45%;
}

.paragrapheVictoire {
  color: #ffe81f;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.lienVictoire {
  text-decoration: none;
  color: #24958f;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.invisible {
  visibility: hidden;
}

@media screen and (min-width: 1600px) {
  .pageAccueil {
    width: 85%;
  }

  #pageJeu {
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
