body {
  background-color: #1b1a1a;
  margin: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.pageAccueil {
  border: 1px solid yellow;
  height: 95vh;
  margin: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: url("../images/fondEtoile.png") repeat fixed 50% 50%;
}

.bandeau {
  border: 1px solid yellow;
  height: 12em;
  margin: 0;
}

.page {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.leftAnimation {
  border: 1px solid yellow;
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}

.zoneAnimation {
  position: absolute;
  display: flex;
  justify-content: center;
}

.droiteSelection {
  border: 1px solid blue;
  height: 100%;
  width: 50%;
}

#zoneAnimation {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  perspective: 800px;
  perspective-origin: bottom;
  transform-style: preserve-3d;
  font-size: 4vw;
  line-height: 1.3;
  overflow: hidden;
}

.cache {
  opacity: 0;
}

#phraseIntro {
  color: #24958f;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  position: absolute;
  top: 35%;
  margin-left: 2rem;
  font-size: 2.5rem;
  animation: fadeInandOut 6s ease-out;
}

@keyframes fadeInandOut {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.2;
  }
  9% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.8;
  }
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.6;
  }
  97% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
.javaLogo {
  position: absolute;
  top: 20%;
  opacity: 0;
  align-self: center;
  animation: javaLogo 10s ease-out;
  animation-delay: 6100ms;
}

@keyframes javaLogo {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-6.75em);
  }
  20% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: sscale(0.1) translateZ(-100em);
  }
}
#corpsAnim {
  box-sizing: border-box;
  color: #b8a716;
  overflow: hidden;
}

#masqueTexteDefilant {
  margin: 0 auto;
  perspective: 380px;
  perspective-origin: bottom;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  left: 8%;
  overflow: visible;
  transform: scaleY(0.9);
}

#texteDefilant {
  position: absolute;
  top: 0;
  right: 13%;
  left: 13%;
  height: 100%;
  animation: texteDefilant 24s;
  animation-delay: 15000ms;
}

#titreTexteAnim {
  margin-bottom: 5rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

p {
  padding: 0.9rem 0;
}

.raye {
  text-decoration: line-through;
}

@keyframes texteDefilant {
  0% {
    transform: rotateX(21deg) translade3d(0, 100rem, 0);
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: rotateX(21deg) translate3d(0, -250rem, 0);
    opacity: 0;
  }
}
#imagePersistante {
  position: absolute;
  top: 24%;
  align-self: center;
  transform: scale(1.3);
}

.visible {
  opacity: 1;
}

#menuSection {
  height: 800px;
  width: 1600px;
}

/*# sourceMappingURL=style.css.map */
